<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="h-screen flex flex-col justify-center items-center gap-8">
        <div class="w-60">
            <!-- ///////// -->
            <!-- Component -->
            <!-- ///////// -->
            <div class="flex justify-between">
                <div class="flex items-center">
                    <img class="w-10 h-10 object-cover rounded-full" alt="User avatar" src="https://i.pravatar.cc/200?u=013">
                    <div class="mx-3">
                        <div class="custom-truncate-wrap">
                            <p class="custom-truncate">เบน ชราภาพ</p>
                        </div>
                        <div class="custom-truncate-wrap">
                            <p class="text-gray-400 custom-truncate">
                                ดีทุกอย่างเลยครับ ยกเว้นการบริการ ห่วยแตกมากกก</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <style>
        .custom-truncate-wrap {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        .custom-truncate {
            display: table-cell;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>

</body>

</html>