<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="flex flex-col justify-center items-center gap-8">
        <div class="w-96">
            <div class="grid grid-cols-12 gap-y-3 py-3">

                <!-- System alert -->
                <div class="col-span-12 p-3">
                    <div class="text-center">
                        <div class="text-xs text-gray-400">10/02/64 10.03น.</div>
                        <div class="mt-1 font-kanit">สร้างรายการขาย</div>
                        <div class="text-xs text-gray-400">ข้อความนี้จะไม่ส่งไปยังลูกค้า</div>
                    </div>
                </div>

                <!-- ///////// -->
                <!-- Component [People] -->
                <!-- ///////// -->
                <div class="col-start-1 col-end-12 lg:col-end-10 px-3">
                    <div class="flex flex-row">
                        <div class="flex flex-shrink-0 hidden xl:block z-10 self-end">
                            <img class="w-7 h-7 object-cover rounded-full border-2 border-white" alt="User avatar" src="https://i.pravatar.cc/200?u=007">
                        </div>
                        <div class="xl:-ml-2 text-sm z-0">
                            <div class="bg-gray-100 py-2 px-4 shadow rounded-xl">สวัสดีค่ะ</div>
                        </div>
                    </div>
                    <div class="text-xs mt-2 text-gray-400 xl:ml-5">
                        10/02/64 10.03น.
                    </div>
                </div>

                <!-- ///////// -->
                <!-- Component [People] -->
                <!-- ///////// -->
                <div class="col-start-1 col-end-12 lg:col-end-10 px-3">
                    <div class="flex flex-row">
                        <div class="flex flex-shrink-0 hidden xl:block z-10 self-end">
                            <img class="w-7 h-7 object-cover rounded-full border-2 border-white" alt="User avatar" src="https://i.pravatar.cc/200?u=007">
                        </div>
                        <div class="xl:-ml-2 text-sm z-0">
                            <div class="bg-gray-100 py-2 px-4 shadow rounded-xl">อยากซื้อมือถือ iphone ค่ะ
                            </div>
                        </div>
                    </div>
                    <div class="text-xs mt-2 text-gray-400 xl:ml-5">
                        10/02/64 10.03น.
                    </div>
                </div>

                <!-- ///////// -->
                <!-- Component [People] -->
                <!-- ///////// -->
                <div class="col-start-1 col-end-12 lg:col-end-10 px-3">
                    <div class="flex flex-row">
                        <div class="flex flex-shrink-0 hidden xl:block z-10 self-end">
                            <img class="w-7 h-7 object-cover rounded-full border-2 border-white" alt="User avatar" src="https://i.pravatar.cc/200?u=007">
                        </div>
                        <div class="xl:-ml-2 text-sm z-0">
                            <div class="bg-gray-100 py-2 px-4 shadow rounded-xl">
                                บมจ. แอดวานซ์ อินโฟร์ เซอร์วิส
                                เลขที่ 414 อาคาร เอไอเอส 1 ถนนพหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400
                                อีเมล: investor@ais.co.th
                            </div>
                            <div class="bg-gray-100 mt-2 py-2 px-4 shadow rounded-xl">
                                <a href="#" class="w-full flex items-center justify-center px-4 py-1 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
                                    Action
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-xs mt-2 text-gray-400 xl:ml-5">
                        10/02/64 10.03น.
                    </div>
                </div>

                <!-- ///////// -->
                <!-- Component [Me] -->
                <!-- ///////// -->
                <div class="col-start-2 lg:col-start-4 col-end-13 px-3">
                    <div class="flex justify-start flex-row-reverse">
                        <div class="flex flex-shrink-0 hidden xl:block z-10 self-end">
                            <img class="w-7 h-7 object-cover rounded-full border-2 border-white" alt="User avatar" src="https://i.pravatar.cc/200?u=022">
                        </div>
                        <div class="xl:-mr-2 text-sm z-0">
                            <div class="bg-indigo-100 py-2 px-4 shadow rounded-xl">
                                ยินดีต้อนรับสู่ร้าน โมบาย ฟอร์ ยู ร้านเปิด 8.00-20.00 ครับ
                            </div>
                        </div>
                    </div>
                    <div class="text-xs mt-2 text-gray-400 text-right xl:mr-5">
                        <span>อ่านแล้ว.</span> <span>10/02/64 10.03น.</span>
                        <span>(อดิศักดิ์)</span>
                    </div>
                </div>

                <!-- ///////// -->
                <!-- Component [Me] -->
                <!-- ///////// -->
                <div class="col-start-2 lg:col-start-4 col-end-13 px-3">
                    <div class="flex justify-start flex-row-reverse">
                        <div class="flex flex-shrink-0 hidden xl:block z-10 self-end">
                            <img class="w-7 h-7 object-cover rounded-full border-2 border-white" alt="User avatar" src="https://i.pravatar.cc/200?u=022">
                        </div>
                        <div class="xl:-mr-2 text-sm z-0">
                            <div class="bg-indigo-100 py-2 px-4 shadow rounded-xl">
                                วิธีการใช้งานนะครับ https://www.youtube.com/watch?v=oetQGM_F2G0
                            </div>
                        </div>
                    </div>
                    <div class="text-xs mt-2 text-gray-400 text-right xl:mr-5">
                        <span>อ่านแล้ว.</span> <span>10/02/64 10.03น.</span>
                        <span>(อดิศักดิ์)</span>
                    </div>
                </div>
                <div class="col-start-1 col-end-12 lg:col-end-10 px-3 rounded-lg">
                    <div class="flex flex-row">
                        <div class="flex flex-shrink-0 hidden xl:block z-10 self-end">
                            <img class="w-7 h-7 object-cover rounded-full border-2 border-white" alt="User avatar" src="https://i.pravatar.cc/200?u=007">
                        </div>
                        <div class="relative xl:-ml-2 text-sm z-0">
                            <div class="bg-gray-100 py-2 px-4 shadow rounded-xl">
                                <img class="w-full" alt="User avatar" src="https://i.pravatar.cc/500?u=007">
                                <div class="custom-truncate-wrap mt-1">
                                    <a href="#" class="custom-truncate text-blue-400">ไฟล์
                                        Loremipsumdolorsitametconsecteturadipisicing..png</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-xs mt-2 text-gray-400 xl:ml-5">
                        10/02/64 10.03น.
                    </div>
                </div>

                <!-- ///////// -->
                <!-- Component [Me] -->
                <!-- ///////// -->
                <div class="col-start-2 lg:col-start-4 col-end-13 px-3">
                    <div class="flex justify-start flex-row-reverse">
                        <div class="flex flex-shrink-0 hidden xl:block z-10 self-end">
                            <img class="w-7 h-7 object-cover rounded-full border-2 border-white" alt="User avatar" src="https://i.pravatar.cc/200?u=022">
                        </div>
                        <div class="xl:-mr-2 text-sm z-0">
                            <div class="inline-block py-2 px-4 shadow bg-indigo-100 rounded-xl">
                                ขอไลน์ได้ไหมครับ</div>
                        </div>
                    </div>
                    <div class="text-xs mt-2 text-gray-400 text-right xl:mr-5">
                        <span>ยังไม่ได้อ่าน.</span> <span>10/02/64 10.03น.</span>
                        <span>(อดิศักดิ์)</span>
                    </div>
                </div>

                <!-- ///////// -->
                <!-- Component [Me] -->
                <!-- ///////// -->
                <div class="col-start-1 col-end-12 lg:col-end-10 px-3">
                    <div class="flex flex-row">
                        <div class="flex flex-shrink-0 hidden xl:block z-10 self-end">
                            <img class="w-7 h-7 object-cover rounded-full border-2 border-white" alt="User avatar" src="https://i.pravatar.cc/200?u=007">
                        </div>
                        <div class="relative xl:-ml-2 text-sm z-0">
                            <div class="bg-gray-100 py-2 px-4 shadow rounded-xl">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Perspiciatis, in.
                            </div>
                        </div>
                    </div>
                    <div class="text-xs mt-2 text-gray-400 xl:ml-5">
                        10/02/64 10.03น.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <style>
        .custom-truncate-wrap {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        .custom-truncate {
            display: table-cell;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>

</body>

</html>