<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="h-screen flex flex-col justify-center items-center gap-8">
        <div>
            <!-- ///////// -->
            <!-- Component -->
            <!-- ///////// -->
            <div class="relative">
                <button
                    class="bg-gray-100 p-2 flex items-center text-sm text-left rounded-full focus:outline-none appearance-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white"
                    data-dropdown="dropdown-toggle">
                    <img class="h-6 w-6 mr-2 rounded-full pointer-events-none"
                        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt="">
                    <span class="w-24 mr-2 text-gray-600 text-sm truncate pointer-events-none">อดิศักดิ์</span>
                    <svg class="w-4 h-4 transition-transform pointer-events-none" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div class="origin-top absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 transform opacity-0 transition ease-in scale-0 z-60"
                    data-dropdown="dropdown-panel">
                    <a href="#" class="block flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem" data-dropdown="dropdown-close">
                        <img class="h-6 w-6 mr-2 rounded-full pointer-events-none"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                            alt="">
                        <span class="w-32 mr-2 text-gray-600 text-sm truncate pointer-events-none">สมชาย</span>
                    </a>
                    <a href="#" class="block flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem" data-dropdown="dropdown-close">
                        <img class="h-6 w-6 mr-2 rounded-full pointer-events-none"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                            alt="">
                        <span class="w-32 mr-2 text-gray-600 text-sm truncate pointer-events-none">ฉัตรชัย</span>
                    </a>
                    <a href="#" class="block flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem" data-dropdown="dropdown-close">
                        <img class="h-6 w-6 mr-2 rounded-full pointer-events-none"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                            alt="">
                        <span class="w-32 mr-2 text-gray-600 text-sm truncate pointer-events-none">กนกวรรณ</span>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <!-- ///////// -->
            <!-- Component -->
            <!-- ///////// -->
            <div class="relative">
                <button
                    class="inline-block px-2 py-1 border border-gray-300 text-xs font-light font-kanit rounded-full bg-white hover:bg-gray-200"
                    data-dropdown="dropdown-toggle">
                    <span class="w-24 text-gray-600 text-sm truncate pointer-events-none">Basic Dropdown</span>
                </button>
                <div class="origin-top absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 transform opacity-0 transition ease-in scale-0 z-60"
                    data-dropdown="dropdown-panel">
                    <a href="#" class="block flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem" data-dropdown="dropdown-close">
                        <span class="w-32 mr-2 text-gray-600 text-sm truncate pointer-events-none">Dropdown List</span>
                    </a>
                    <a href="#" class="block flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem" data-dropdown="dropdown-close">
                        <span class="w-32 mr-2 text-gray-600 text-sm truncate pointer-events-none">Dropdown List</span>
                    </a>
                    <a href="#" class="block flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem" data-dropdown="dropdown-close">
                        <span class="w-32 mr-2 text-gray-600 text-sm truncate pointer-events-none">Dropdown List</span>
                    </a>
                </div>
            </div>
        </div>
        <div>            
            <!-- ///////// -->
            <!-- Component -->
            <!-- ///////// -->
            <div class="relative">
                <button
                    class="p-2 rounded-full text-gray-400 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white"
                    data-dropdown="dropdown-toggle">
                    <span class="sr-only">เพิ่มเติม</span>
                    <svg class="pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                        <path d="M12 18c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3zm0-9c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3zm0-9c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3z"></path>
                    </svg>
                </button>
                <div class="origin-top absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 transform opacity-0 transition ease-in scale-0 z-60"
                    data-dropdown="dropdown-panel">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem" data-dropdown="dropdown-close">
                        <svg class="inline-block w-4 mr-1 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                        </svg> สร้างรายการใหม่
                    </a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem" data-dropdown="dropdown-close">
                        <svg class="inline-block w-4 mr-1 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>
                        </svg> ยกเลิกรายการ
                    </a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem" data-dropdown="dropdown-close">
                        <svg class="inline-block w-4 mr-1 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                        </svg> ลบรายการ
                    </a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem" data-dropdown="dropdown-close">
                        <svg class="inline-block w-4 mr-1 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"></path>
                        </svg> แชร์ลิ้ง
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="overlay" class="w-screen h-screen bg-transparent fixed inset-0 hidden z-50"></div>

    <script>
        function dropdown(e) {
            const elm = e.target.parentNode.parentElement.querySelector(
                'button[data-dropdown="dropdown-toggle"]'
            );
            const target = elm.nextElementSibling;
            target.classList.toggle('opacity-0');
            target.classList.toggle('scale-0');

            document.getElementById("overlay").classList.toggle('hidden');
        }

        const dropdownButtons = document.querySelectorAll(
            `button[data-dropdown="dropdown-toggle"]`
        );
        dropdownButtons.forEach(elm => {
            elm.addEventListener("click", dropdown);
        });


        const DropdownClosetriggers = Array.from(document.querySelectorAll('[data-dropdown="dropdown-close"]'));

        window.addEventListener('click', (ev) => {
            const elm = ev.target;

            // Clear Overlay Dropdown
            if(ev.target.id == "overlay") {
                console.log(ev.target.id);
                ev.target.classList.toggle('hidden');
                hideDropdown();
            }

            // Clear Dropdown
            if (DropdownClosetriggers.includes(elm)) {
                document.getElementById("overlay").classList.toggle('hidden');
                hideDropdown();
            }

        }, false);

        function hideDropdown() {
            var dropdownToggle = document.querySelectorAll('[data-dropdown="dropdown-panel"]');
            [].forEach.call(dropdownToggle, function(el) {
                el.classList.add('opacity-0');
                el.classList.add('scale-0');
            });
        }

    </script>

</body>

</html>